@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

/* remove arrows from nuber input  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* custom Animations  */
@keyframes slideIn {
  0% {
    transform: translateX(
      100%
    ); /* Start position: completely off-screen to the left */
  }
  100% {
    transform: translateX(0); /* End position: fully visible */
  }
}

#custom-alerts {
  animation: slideIn 0.5s forwards;
  position: fixed;
}
